<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a class="u-email" href="mailto:rahin@hulu.com">rahin@hulu.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/rjegaraj"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">rjegaraj</span></a></li><li><a href="https://www.twitter.com/rjegaraj"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">rjegaraj</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Didn&#39;t want to renew my domain, so here we are.</p>
      </div>
    </div>

  </div>

</footer>
